1757. Recyclable and Low Fat Products

In [ ]:
select product_id
from Products
where low_fats = 'Y' and recyclable = 'Y';

584. Find Customer Referee

In [ ]:
select name 
from Customer
where referee_id <> 2 or referee_id is null;

595. Big Countries

In [ ]:
select name, population, area
from World
where area >= 3000000 or population >= 25000000;

1148. Article Views I

In [ ]:
select distinct author_id as id
from Views
where author_id = viewer_id
order by author_id asc;

1683. Invalid Tweets

In [ ]:
select tweet_id
from Tweets
where length(content) > 15;

1378. Replace Employee ID With The Unique Identifier

In [ ]:
select unique_id, name
from Employees a
left join EmployeeUNI b
on a.id = b.id;

1068. Product Sales Analysis I

In [ ]:
select b.product_name, a.year, a.price
from Sales a 
left join Product b 
on a.product_id = b.product_id;

1581. Customer Who Visited but Did Not Make Any Transactions

In [ ]:
select customer_id, count(*) as count_no_trans
from Visits a
left join Transactions b
on a.visit_id = b.visit_id
where transaction_id is null
group by customer_id;

197. Rising Temperature

In [ ]:
select a.id
from Weather a
left join Weather b
on a.recordDate = date_add(b.recordDate, interval 1 day)
where a.temperature > b.temperature;

In [ ]:
# lag function only can be used in same time difference

# select id
# from 
#     (select *, 
#             lag(temperature, 1) over (order by recordDate asc) as pre_temp
#      from Weather) as a
# where temperature > pre_temp